body {
    background-color: #111214 !important;
}

select {
    border-color: white !important;
}

.bg-custom {
    background-color: #111214 !important;
}

.fa-eye {
    cursor: pointer;
}

.logo-login {
    margin-top: -180px;
}

.no-autofill:-webkit-autofill,
.no-autofill:-webkit-autofill:hover,
.no-autofill:-webkit-autofill:focus,
.no-autofill:-webkit-autofill:active {
    transition: background-color 999999s ease-in-out 0s;
    -webkit-text-fill-color: white !important;
}

.mesa-icon {
    font-size: 4rem;
}

.mesa-cruz {
    font-size: 3rem;
}

.navbar-toggler-icon {
    color: white !important;
}

.usertable {
    max-width: 80vw;
}



/** MOBILE PARAMS  */

@media screen and (max-width: 767px) {
    .logo-login {
        width: 300px;
        height: auto;
        margin-top: -120px;
    }

    .mesa-icon {
        font-size: 2.5rem;
    }

    .mesa-cruz {
        font-size: 2rem;
    }

    .usertable {
        max-width: 95vw;
    }

}